version: 2.1

aliases:
  - &install_yarn_version
    name: Install specific Yarn version
    command: |
      curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.5
      echo 'export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"' >> $BASH_ENV
  - &restore_yarn_cache
    name: Restore Yarn cache
    keys:
      - yarn-{{ .Branch }}-packages-{{ checksum "yarn.lock" }}
  - &save_yarn_cache
    name: Save Yarn cache
    key: yarn-{{ .Branch }}-packages-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn
  - &run_yarn_install
    name: Install dependencies
    command: yarn install --frozen-lockfile
  - &restore_dist_folders
    name: Restore dist folders
    command: |
      set -exu

      mkdir -p packages/horizontal-slider-js/dist
      mkdir -p packages/horizontal-slider-react/dist
      mkdir -p packages/horizontal-slider-vdom/dist
      mkdir -p packages/horizontal-slider-theme/dist
      mkdir -p packages/recommend-core/dist
      mkdir -p packages/recommend-js/dist
      mkdir -p packages/recommend-react/dist
      mkdir -p packages/recommend-vdom/dist

      cp -R /tmp/workspace/packages/horizontal-slider-js/dist packages/horizontal-slider-js/
      cp -R /tmp/workspace/packages/horizontal-slider-react/dist packages/horizontal-slider-react/
      cp -R /tmp/workspace/packages/horizontal-slider-vdom/dist packages/horizontal-slider-vdom/
      cp -R /tmp/workspace/packages/horizontal-slider-theme/dist packages/horizontal-slider-theme/
      cp -R /tmp/workspace/packages/recommend-core/dist packages/recommend-core/
      cp -R /tmp/workspace/packages/recommend-js/dist packages/recommend-js/
      cp -R /tmp/workspace/packages/recommend-react/dist packages/recommend-react/
      cp -R /tmp/workspace/packages/recommend-vdom/dist packages/recommend-vdom/

defaults: &defaults
  working_directory: ~/ui-components
  docker:
    - image: circleci/node:14.15.0

references:
  workspace_root: &workspace_root /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Build
          command: yarn run build
      - run:
          name: Move dist folders to workspace
          command: |
            set -exu

            mkdir -p /tmp/workspace/packages/horizontal-slider-js/dist
            mkdir -p /tmp/workspace/packages/horizontal-slider-react/dist
            mkdir -p /tmp/workspace/packages/horizontal-slider-vdom/dist
            mkdir -p /tmp/workspace/packages/horizontal-slider-theme/dist
            mkdir -p /tmp/workspace/packages/recommend-core/dist
            mkdir -p /tmp/workspace/packages/recommend-js/dist
            mkdir -p /tmp/workspace/packages/recommend-react/dist
            mkdir -p /tmp/workspace/packages/recommend-vdom/dist

            cp -R packages/horizontal-slider-js/dist /tmp/workspace/packages/horizontal-slider-js
            cp -R packages/horizontal-slider-react/dist /tmp/workspace/packages/horizontal-slider-react
            cp -R packages/horizontal-slider-vdom/dist /tmp/workspace/packages/horizontal-slider-vdom
            cp -R packages/horizontal-slider-theme/dist /tmp/workspace/packages/horizontal-slider-theme
            cp -R packages/recommend-core/dist /tmp/workspace/packages/recommend-core
            cp -R packages/recommend-js/dist /tmp/workspace/packages/recommend-js
            cp -R packages/recommend-react/dist /tmp/workspace/packages/recommend-react
            cp -R packages/recommend-vdom/dist /tmp/workspace/packages/recommend-vdom
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - packages
  test_lint:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run: *restore_dist_folders
      - run:
          name: Linting
          command: yarn run lint
  test_types:
    <<: *defaults
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Type checking
          command: yarn run test:types
  test_unit:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run: *restore_dist_folders
      - run:
          name: Unit tests
          command: yarn run test --maxWorkers=4
  test_size:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run: *restore_dist_folders
      - run:
          name: Test packages size
          command: yarn run test:size
  release:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run: *restore_dist_folders
      - run:
          name: Release if needed
          command: yarn run shipjs trigger

workflows:
  version: 2.1
  ci:
    jobs:
      - build
      - test_lint:
          requires:
            - build
      - test_types
      - test_unit:
          requires:
            - build
      - test_size:
          requires:
            - build
      - release:
          requires:
            - test_unit
            - test_lint
            - test_types
            - test_size
            - build
          filters:
            branches:
              only: next
