.demo-container {
  padding: 8px 8px 60px;
  margin: 0 auto;
  max-width: 1100px;
}

.demo-container-title {
  font-size: 1.5em;
  padding-bottom: 16px;
}

.demo-selected-product {
  width: 250px;
}

.demo-selected-product-title {
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.demo-col-8 {
  width: 66%;
}
