:root {
  --auc-primary-color: #9698c3;
  --auc-muted-color: #c4c4c4;
  --auc-dark-color: #0f0f0f;
}

.auc-Recommend-list {
  display: grid;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  outline-color: var(--auc-primary-color);
  outline-offset: 0.5rem;
  padding: 0;
}

.auc-Recommend-list {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 999px) {
  .auc-Recommend-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.perso_debug {
  position: absolute;
  top: 20px;
  right: 26px;

  font-size: 14px;

  width: 18vw;
  height: 40vh;

  padding: 16px;
  overflow: auto;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
