.auc-Recommendations-container {
  position: relative;
}

.auc-Recommendations-navigation {
  align-items: center;
  background: #f1f1f1;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(90, 94, 154, 0.44);
  color: #9698c3;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  outline-color: #9698c3;
  padding: 0;
  position: absolute;
  top: 35%;
  transition: opacity 150ms;
  width: 32px;
}

.auc-Recommendations-container:hover
  .auc-Recommendations-navigation:not([hidden]) {
  opacity: 1;
  visibility: visible;
}

.auc-Recommendations-navigation,
.auc-Recommendations-navigation[hidden] {
  opacity: 0;
  visibility: hidden;
}

.auc-Recommendations-navigation--previous {
  left: 0;
  transform: translateX(-25%);
}

.auc-Recommendations-navigation--next {
  right: 0;
  transform: translateX(25%);
}

.auc-Recommendations-list {
  display: grid;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.auc-Recommendations--grid .auc-Recommendations-list {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 999px) {
  .auc-Recommendations--grid .auc-Recommendations-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.auc-Recommendations--inline .auc-Recommendations-list {
  grid-auto-columns: 34%;
  grid-auto-flow: column;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-snap-type: x proximity;
  scrollbar-color: #0f0f0f #c4c4c4;
  scrollbar-width: thin;
}

.auc-Recommendations--inline .auc-Recommendations-list::-webkit-scrollbar {
  height: 2px;
}

.auc-Recommendations--inline
  .auc-Recommendations-list::-webkit-scrollbar-track {
  background-color: #c4c4c4;
}

.auc-Recommendations--inline
  .auc-Recommendations-list::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
}

@media (min-width: 999px) {
  .auc-Recommendations--inline .auc-Recommendations-list {
    grid-auto-columns: 20%;
  }
}

.auc-Recommendations-item {
  scroll-snap-align: start;
}
