body {
  padding: 0.5rem;
}

h1,
h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.Hit-info {
  display: none;
}

.Hit:hover .Hit-info {
  display: block;
}

.text-nebula-900 {
  color: #5468ff;
}

.border-nebula-500 {
  border-color: #5468ff;
}

.text-orange-500 {
  color: #faa04b;
}
