body {
  padding: 0.5rem;
}

h1,
h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.RelatedItem-info {
  display: none;
}

.RelatedItem:hover .RelatedItem-info {
  display: block;
}

.clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Facets-Wrapper {
  display: flex;
  justify-content: space-around;
}
