@tailwind base;
@tailwind components;
@tailwind utilities;

/* @TODO: these variables will end up in the global theme */
:root {
  --aui-primary-color: green;
  --aui-muted-color: #c4c4c4;
  --aui-dark-color: #0f0f0f;
}

.uic-HorizontalSlider-container {
  @apply relative;
}

.uic-HorizontalSlider-navigation {
  @apply absolute flex items-center bg-gray-100 border rounded z-10 cursor-pointer justify-center h-10 w-8 text-center;

  box-shadow: 0px 2px 6px rgba(90, 94, 154, 0.44);
  color: var(--aui-primary-color);
  outline-color: var(--aui-primary-color);
  top: 35%;
  transition: opacity 150ms;
}

@media (hover: none) and (pointer: coarse) {
  .uic-HorizontalSlider-navigation {
    @apply invisible;
  }
}

.uic-HorizontalSlider-container:hover
  .uic-HorizontalSlider-navigation:not([hidden]) {
    @apply visible opacity-100;
}

.uic-HorizontalSlider-navigation,
.uic-HorizontalSlider-navigation[hidden] {
  @apply invisible opacity-0;
}

.uic-HorizontalSlider-navigation--previous {
  @apply left-0;
  transform: translateX(-25%);
}

.uic-HorizontalSlider-navigation--next {
  @apply right-0;
  transform: translateX(25%);
}

.uic-HorizontalSlider-list {
  @apply grid gap-2 list-none pb-2;

  outline-color: var(--aui-primary-color);
  outline-offset: 0.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  grid-auto-columns: 42%;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scrollbar-color: var(--aui-dark-color) var(--aui-muted-color);
  scrollbar-width: thin;
}

.uic-HorizontalSlider-list::-webkit-scrollbar {
  @apply h-1;
}

.uic-HorizontalSlider-list::-webkit-scrollbar-track {
  background-color: var(--aui-muted-color);
}

.uic-HorizontalSlider-list::-webkit-scrollbar-thumb {
  background-color: var(--aui-dark-color);
}

@media (min-width: 999px) {
  .uic-HorizontalSlider-list {
    grid-auto-columns: 20%;
  }
}

.uic-HorizontalSlider-item {
  scroll-snap-align: start;
}

.uic-HorizontalSlider-item * {
  outline-color: var(--aui-primary-color);
  outline-offset: 3px;
}
