@tailwind base;
@tailwind components;
@tailwind utilities;

/* @TODO: these variables will end up in the global theme */
:root {
  --aui-primary-color: green;
  --aui-muted-color: #c4c4c4;
  --aui-dark-color: #0f0f0f;
}

.uic-HorizontalSlider-container {
  @apply relative;
}

.uic-HorizontalSlider-navigation {
  @apply absolute flex items-center bg-gray-100 text-gray-700 border rounded z-10 cursor-pointer justify-center h-10 w-8 text-center shadow top-10 transition-opacity;
  outline-color: var(--aui-primary-color);
}

@media (hover: none) and (pointer: coarse) {
  .uic-HorizontalSlider-navigation {
    @apply invisible;
  }
}

.uic-HorizontalSlider-container:hover
  .uic-HorizontalSlider-navigation:not([hidden]) {
  @apply visible opacity-100;
}

.uic-HorizontalSlider-navigation,
.uic-HorizontalSlider-navigation[hidden] {
  @apply invisible opacity-0;
}

.uic-HorizontalSlider-navigation--previous {
  @apply left-0;
  transform: translateX(-25%);
}

.uic-HorizontalSlider-navigation--next {
  @apply right-0;
  transform: translateX(25%);
}

.uic-HorizontalSlider-list {
  @apply grid gap-2 list-none pb-2;

  outline-color: var(--aui-primary-color);
  outline-offset: 0.5rem;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  grid-auto-columns: 42%;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scrollbar-color: var(--aui-dark-color) var(--aui-muted-color);
  scrollbar-width: thin;
}

.uic-HorizontalSlider-list::-webkit-scrollbar {
  @apply h-1;
}

.uic-HorizontalSlider-list::-webkit-scrollbar-track {
  @apply bg-gray-500;
}

.uic-HorizontalSlider-list::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
}

@media (min-width: 999px) {
  .uic-HorizontalSlider-list {
    grid-auto-columns: 20%;
  }
}

.uic-HorizontalSlider-item {
  scroll-snap-align: start;
}

.uic-HorizontalSlider-item * {
  @apply ring-offset-indigo-700;
  outline-offset: 3px;
}

/* Bundle */
.uic-BundleView-container {
  @apply grid gap-4;
  grid-template-columns: 3fr 1fr;
}

.uic-BundleView-list {
  @apply grid gap-2 list-none pb-2 ring-offset-indigo-700 grid-flow-col;
  outline-offset: 0.5rem;
}

.uic-BundleView-itemContainer {
  @apply flex items-center;
}

.uic-BundleView-itemContainer-hit {
  @apply opacity-40;
}

.uic-BundleView-item--selected .uic-BundleView-itemContainer-hit {
  @apply opacity-100;
}

.uic-BundleView-plus {
  @apply text-indigo-700 pl-2;
}

.uic-BundleView-plus > svg {
  @apply h-6 w-6;
}

.uic-BundleView-item * {
  @apply ring-offset-indigo-700;
  outline-offset: 3px;
}

.uic-BundleView-label {
  @apply grid gap-1;
}

.uic-BundleView-label:hover {
  @apply text-indigo-700;
}

.uic-BundleView-label-currentArticle,
.uic-BundleView-label-price {
  @apply font-bold;
}

.uic-BundleView-cart {
  @apply flex items-start flex-col gap-2 justify-center;
}

.uic-BundleView-addToCart {
  @apply relative flex items-center bg-white border bg-indigo-700 rounded text-indigo-900 cursor-pointer font-medium p-1.5 content-center;
}
