/* HorizontalSlider */
.uic-HorizontalSlider-container {
  @apply relative;
}

.uic-HorizontalSlider-navigation {
  @apply absolute flex items-center bg-gray-100 text-gray-700 border rounded z-10 cursor-pointer justify-center h-10 w-8 text-center shadow top-1/4 transition-opacity ring-offset-indigo-700;
}

@media (hover: none) and (pointer: coarse) {
  .uic-HorizontalSlider-navigation {
    @apply invisible;
  }
}

.uic-HorizontalSlider-container:hover
  .uic-HorizontalSlider-navigation:not([hidden]) {
  @apply visible opacity-100;
}

.uic-HorizontalSlider-navigation,
.uic-HorizontalSlider-navigation[hidden] {
  @apply invisible opacity-0;
}

.uic-HorizontalSlider-navigation--previous {
  @apply left-0 transform -translate-x-1/4;
}

.uic-HorizontalSlider-navigation--next {
  @apply right-0 transform translate-x-1/4;
}

.uic-HorizontalSlider-list {
  @apply grid gap-2 list-none pb-2 grid-flow-col overflow-x-auto ring-offset-indigo-700 ring-offset-8;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: x proximity;
  scrollbar-color: var(--tw-text-gray-300) var(--tw-text-gray-700);
  scrollbar-width: thin;
}

@media (min-width: 999px) {
  .uic-HorizontalSlider-list {
    grid-auto-columns: 20%;
  }
}

.uic-HorizontalSlider-list::-webkit-scrollbar {
  @apply h-1 mt-4;
}

.uic-HorizontalSlider-list::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.uic-HorizontalSlider-list::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}



.uic-HorizontalSlider-item {
  scroll-snap-align: start;
}

.uic-HorizontalSlider-item * {
  @apply ring-offset-indigo-700 ring-offset-4;
}
